<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from techydevs.com/demos/themes/html/aduca-demo/aduca/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Aug 2021 13:59:37 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"] -  TEDU Exam</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="/images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/fancybox.css">
    <link rel="stylesheet" href="/css/tooltipster.bundle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="~/css/tedu.css" rel="stylesheet" />
    <!-- end inject -->
</head>
<body>

    <partial name="_Preloader" />
    @RenderBody()

    <!-- start scroll top -->
    <div id="scroll-top">
        <i class="la la-arrow-up" title="Go top"></i>
    </div>
    <!-- end scroll top -->

    <!-- template js files -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/waypoint.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/fancybox.js"></script>
    <script src="/js/datedropper.min.js"></script>
    <script src="/js/emojionearea.min.js"></script>
    <script src="/js/tooltipster.bundle.min.js"></script>
    <script src="/js/jquery.lazy.min.js"></script>
    <script src="/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from techydevs.com/demos/themes/html/aduca-demo/aduca/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Aug 2021 14:00:32 GMT -->
</html>