<div class="off-canvas-menu custom-scrollbar-styled category-off-canvas-menu">
    <div class="off-canvas-menu-close cat-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip" data-placement="left" title="Close menu">
        <i class="la la-times"></i>
    </div><!-- end off-canvas-menu-close -->
    <ul class="generic-list-item off-canvas-menu-list pt-90px">
        <li>
            <a href="course-grid.html">Development</a>
            <ul class="sub-menu">
                <li><a href="#">All Development</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Mobile Apps</a></li>
                <li><a href="#">Game Development</a></li>
                <li><a href="#">Databases</a></li>
                <li><a href="#">Programming Languages</a></li>
                <li><a href="#">Software Testing</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">E-Commerce</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">business</a>
            <ul class="sub-menu">
                <li><a href="#">All Business</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Entrepreneurship</a></li>
                <li><a href="#">Strategy</a></li>
                <li><a href="#">Real Estate</a></li>
                <li><a href="#">Home Business</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Industry</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">IT & Software</a>
            <ul class="sub-menu">
                <li><a href="#">All IT & Software</a></li>
                <li><a href="#">IT Certification</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Network & Security</a></li>
                <li><a href="#">Operating Systems</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">Finance & Accounting</a>
            <ul class="sub-menu">
                <li><a href="#"> All Finance & Accounting</a></li>
                <li><a href="#">Accounting & Bookkeeping</a></li>
                <li><a href="#">Cryptocurrency & Blockchain</a></li>
                <li><a href="#">Economics</a></li>
                <li><a href="#">Investing & Trading</a></li>
                <li><a href="#">Other Finance & Economics</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">design</a>
            <ul class="sub-menu">
                <li><a href="#">All Design</a></li>
                <li><a href="#">Graphic Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Design Tools</a></li>
                <li><a href="#">3D & Animation</a></li>
                <li><a href="#">User Experience</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">Personal Development</a>
            <ul class="sub-menu">
                <li><a href="#">All Personal Development</a></li>
                <li><a href="#">Personal Transformation</a></li>
                <li><a href="#">Productivity</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Personal Finance</a></li>
                <li><a href="#">Career Development</a></li>
                <li><a href="#">Parenting & Relationships</a></li>
                <li><a href="#">Happiness</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">Marketing</a>
            <ul class="sub-menu">
                <li><a href="#">All Marketing</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Search Engine Optimization</a></li>
                <li><a href="#">Social Media Marketing</a></li>
                <li><a href="#">Branding</a></li>
                <li><a href="#">Video & Mobile Marketing</a></li>
                <li><a href="#">Affiliate Marketing</a></li>
                <li><a href="#">Growth Hacking</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">Health & Fitness</a>
            <ul class="sub-menu">
                <li><a href="#">All Health & Fitness</a></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Dieting</a></li>
                <li><a href="#">Self Defense</a></li>
                <li><a href="#">Meditation</a></li>
                <li><a href="#">Mental Health</a></li>
                <li><a href="#">Yoga</a></li>
                <li><a href="#">Dance</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
        <li>
            <a href="course-grid.html">Photography</a>
            <ul class="sub-menu">
                <li><a href="#">All Photography</a></li>
                <li><a href="#">Digital Photography</a></li>
                <li><a href="#">Photography Fundamentals</a></li>
                <li><a href="#">Commercial Photography</a></li>
                <li><a href="#">Video Design</a></li>
                <li><a href="#">Photography Tools</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </li>
    </ul>
</div><!-- end off-canvas-menu -->
<div class="mobile-search-form">
    <div class="d-flex align-items-center">
        <form method="post" class="flex-grow-1 mr-3">
            <div class="form-group mb-0">
                <input class="form-control form--control pl-3" type="text" name="search" placeholder="Search for anything">
                <span class="la la-search search-icon"></span>
            </div>
        </form>
        <div class="search-bar-close icon-element icon-element-sm shadow-sm">
            <i class="la la-times"></i>
        </div><!-- end off-canvas-menu-close -->
    </div>
</div><!-- end mobile-search-form -->